<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать статью - ***Название блога***</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!-- тут должна быть форма создания статьи -->
<h1>Размести свою статью</h1>
<form action="" method="post">
    <br><br><br><br>
    Название статьи:<input type="text" name="title"><br><br><br><br>
    Текст статьи:<input type="text" name="text"><br><br><br><br>
    <button type="submit">Отправить статью</button>
</form>


</body>
</html>